<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=0.1">
</head>

<body style="margin: 1px;">
  <ul class="mdc-image-list my-image-list">
    <li class="mdc-image-list__item"  *ngFor="let tile of tiles"
                   cols="tile.cols"
                   rows="tile.rows"
                   [style.border]="'1px double skyblue'">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src={{tile.url}}>
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">{{tile.text}}</span>
      </div>
    </li>
   
  </ul>

  <!--<mat-grid-list cols="4" rowHeight="4:3" gutterSize="1px">
    <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows"
                   [style.border]="'1px double skyblue'">
      <img src={{tile.url}}>
      <mat-grid-tile-header><h1>{{tile.text}}</h1></mat-grid-tile-header>
    </mat-grid-tile>
  </mat-grid-list>-->
</body>
</html>
