<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=0.1"> 
</head>

<body style="margin: 0px; background: #0e0e0e;">   
  <ul class="mdc-image-list my-image-list">
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" style="-webkit-user-select: none;" src="{{url1}}" />
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">Text label</span>
      </div>
    </li>
    
  </ul>
 
</body>     
</html>
